@model ActivityStatisticsViewModel;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var categoryCounts = new Dictionary<string, int>();

    foreach (var category in Model.CategoryList!)
    {
        var count = Model.ActivityList!.Count(e => e.CategoryID == category.CategoryID);

        categoryCounts[category.Name!] = count;
    }
}
<div class="secondNav">
    <div class="secondNavText">
        <a class="gradienttext" asp-action="Index" asp-controller="ActivityStatistics">Aktiviteter</a>
        <a class="secondNavLink" asp-action="Index" asp-controller="EventStatistics">Evenemang</a>
        <a class="secondNavLink" asp-action="Index" asp-controller="AdStatistics">Annonser</a>
    </div>
</div>
<div class="titelContainer">
    <header>
        <h1 class="titel">AKTIVITETER</h1>
    </header>
</div>
<div class="totalCategoryActivity">
    <canvas id="myPieChart"></canvas>
</div>
<script>
    var ctx = document.getElementById('myPieChart').getContext('2d');
    var myPieChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: @Html.Raw(Json.Serialize(Model.CategoryList.Select(c => c.Name))),
            datasets: [{
                label: 'Antal',
                data: @Html.Raw(Json.Serialize(Model.CategoryList.Select(c => categoryCounts[c.Name!]))),
                backgroundColor: [
                    "#FF6C95",
                    "#FFF167",
                    "#FB8E5F",
                    // Add more colors if you have more than 3 categories
                ],
                hoverOffset: 4
            }]
        }
    });
</script>
<div class="tableContainer">
    <table>
        <thead>
            <tr>
                <th class="tableStyle">ID</th>
@*                 <th class="tableStyle">Antal sparade</th>
                <th class="tableStyle">Sparat av kvinnor</th>
                <th class="tableStyle">Sparat av män</th>
                <th class="tableStyle">Sparad av under 16 år</th>
                <th class="tableStyle">Sparad av 16-30 år</th>
                <th class="tableStyle">Sparad av 31-50 år</th>
                <th class="tableStyle">Sparad av över 50 år</th> *@
                <th class="tableStyle">Namn</th>
                <th class="tableStyle">Kategori</th>
            </tr>
        </thead>
        @foreach (var activity in Model.ActivityList!)
        {
            var category = Model.CategoryList!.FirstOrDefault(c => c.CategoryID == activity.CategoryID);
            <tr>
                <td class="tableStyle">@activity.ActivityStatisticsID</td>
@*                 <td class="tableStyle">@activity.TotalSaved</td>
                <td class="tableStyle">@activity.FemaleSaved</td>
                <td class="tableStyle">@activity.MaleSaved</td>
                <td class="tableStyle">@activity.AgeBelow16Saved</td>
                <td class="tableStyle">@activity.Age16To30Saved</td>
                <td class="tableStyle">@activity.Age31To50Saved</td>
                <td class="tableStyle">@activity.AgeAbove50Saved</td> *@
                <td class="tableStyle">@activity?.Name</td>
                <td class="tableStyle">@category?.Name</td>
            </tr>
        }
    </table>
</div>