﻿@using Hv.Sos100.DataService.Statistics.Api.Models
@model List<ActivityStatistics>

<!DOCTYPE html>
<html>
<head>
    <title>Aktivitet</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="~/css/activity.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <nav class="categorymenu">
        <ul class="navbar-nav1">
            <li class="gradienttext"><a href="@Url.Action("Index", "Activity")">AKTIVITETER</a></li>
            <li class="nav-item1"><a href="@Url.Action("Index", "Event")">EVENEMANG</a></li>
            <li class="nav-item1"><a href="@Url.Action("Index", "Ad")">ANNONSER</a></li>
        </ul>
    </nav>

    <h1>AKTIVITETSSTATISTIK</h1>
    <hr>

    <div class="ChooseActivity">
        <label for="actvitys">VÄLJ AKTIVITET:</label>
        <select id="activitys" onchange="updateStatistics()">
            @foreach (var activityData in Model)
            {
                <option value="@activityData.ActivityStatisticsID">@activityData.ActivityStatisticsID</option>
            }
        </select>
        <div class="Activityname"> <h3>Aktivitetsnamn</h3></div>
    </div>

    <div class="chart-container1">
        <div class="signup-wrapper">
            <div class="signup-label">Kategori:</div>
            <div class="signup-count" id="category"></div>
        </div>
        <div class="chart-info">
            <div class="signup-wrapper">
                <div class="signup-label">Antal sparningar:</div>
                <div class="signup-count" id="totalSaved"></div>
            </div>
        </div>
    </div>

 

    <div class="chart-container">
        <div class="chart-info">
            <h2>KÖN</h2>
            <p>Statistik för hur många av vardera kön som sparat aktiviteten.</p>
        </div>
        <canvas id="GenderChart"></canvas>
    </div>

    <div class="chart-container">
        <div class="chart-info">
            <h2>ÅLDER</h2>
            <p>Statistik för hur många i varje åldersgrupp som sparat aktiviteten.</p>
        </div>
        <canvas id="AgeChart"></canvas>
    </div>
  
    <script>

        var ctxGender = document.getElementById('GenderChart').getContext('2d');
        var genderChart = new Chart(ctxGender, {
            type: 'pie',
            data: {
                labels: ['Kvinnor', 'Män'],
                datasets: [{
                    data: [0, 1],
                    backgroundColor: ['#666666', '#000000']
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false
            }
        });

        var ctxAge = document.getElementById('AgeChart').getContext('2d');
        var ageChart = new Chart(ctxAge, {
            type: 'pie',
            data: {
                labels: ['Under 16', '16-30', '31-50', 'Över 50'],
                datasets: [{
                    data: [0, 1, 2, 3],
                    backgroundColor: ['#666666', '#000000', '#999999', '#CCCCCC']
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false
            }
        });
        function updateStatistics() {
            var selectedActivityStatisticsId = parseInt(document.getElementById('activitys').value);
            var allActivitys = JSON.parse('@Html.Raw(Json.Serialize(Model))');
            var selectedActivity = allActivitys.find(e => e.activityStatisticsID === selectedActivityStatisticsId);

            // Uppdatera HTML-innehållet med totalSaved för vald aktivitet
            var totalSavedElement = document.getElementById('totalSaved');
            if (totalSavedElement) {
                totalSavedElement.innerText = selectedActivity.totalSaved;
            }

            var categoryElement = document.getElementById('category');
            if (categoryElement) {
                categoryElement.innerText = selectedActivity.category;
            }

            ageChart.data.datasets[0].data = [
                selectedActivity.ageBelow16Saved,
                selectedActivity.age16To30Saved,
                selectedActivity.age31To50Saved,
                selectedActivity.ageAbove50Saved
            ];
            genderChart.data.datasets[0].data = [
                selectedActivity.femaleSaved,
                selectedActivity.maleSaved
            ];

            genderChart.update();
            ageChart.update();
        }



    </script>
</body>
</html>
