@model List<Hv.Sos100.DataService.Statistics.Api.Models.AdStatistics>;

<!DOCTYPE html>
<html>
<head>
    <title>Eventivo AnnonsStatistik</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="~/css/ad.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <nav class="categorymenu">
        <ul class="navbar-nav1">
            <li class="nav-item1"><a href="@Url.Action("Index", "Activity")">AKTIVITETER</a></li>
            <li class="nav-item1"><a href="@Url.Action("Index", "Event")">EVENEMANG</a></li>
            <li class="gradienttext"><a href="@Url.Action("Index", "Ad")">ANNONSER</a></li>
        </ul>
    </nav>

    <div class="statistics-container">

        <h1>ANNONSSTATISTIK</h1>

        <div class="statistics-itemselector-container">
            <div class="statistics-itemselector-select">
                <label for="advertisement">VÄLJ ANNONS:</label>
                <select id="advertisement" onchange="updateStatistics()">
                    @foreach (var advertisementData in Model)
                    {
                        <option value="@advertisementData.AdvertisementStatisticsID">@advertisementData.AdvertisementStatisticsID</option>
                    }
                </select>
            </div>
            <div class="statistics-itemselector-name">Annonsnamn</div> @* Change to display selected name *@
        </div>


        <div class="statistics-data-general-container">
            <div class="statistics-data-general-count-ad">
                <div class="">Antal Visningar:</div>
                <div class="" id="totalViews"></div>
            </div>
        </div>

    </div>

    <script>
        function updateStatistics() {
            var selectedAdvertisementStatisticsID = parseInt(document.getElementById('advertisement').value);
            var allAdvertisements = JSON.parse('@Html.Raw(Json.Serialize(Model))');
            var selectedAdvertisement = allAdvertisements.find(e => e.advertisementStatisticsID === selectedAdvertisementStatisticsID);
            
            var totalViewsElement = document.getElementById('totalViews');
            if (totalViewsElement) {
                totalViewsElement.innerText = selectedAdvertisement.totalViews;
            }
        }
    </script>
</body>
</html>
