@using Hv.Sos100.DataService.Log.Api.Models
@model List<Log>
@{
    var isAuthenticated = ViewData["IsAuthenticated"] as string;
}

<div class="container">
    <div class="logs-container">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Tid</th>
                    <th scope="col">Allvarhet</th>
                    <th scope="col">Tjänst</th>
                    <th scope="col">Meddelande</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count == 0)
                {
                    <tr>
                        <td colspan="5">Inga loggar att visa</td>
                    </tr>
                }
                else
                {
                    @foreach (var log in Model)
                    {
                        <tr>
                            <td>@log.Id</td>
                            <td>@log.TimeStamp</td>
                            <td class="@GetSeverityClass(log.Severity ?? "Info")">@(log.Severity ?? "null")</td>
                            <td>@log.SourceSystem</td>
                            <td>@log.Message</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
@functions {
    string GetSeverityClass(string severity)
    {
        switch (severity)
        {
            case "Error":
                return "text-danger";
            case "Warning":
                return "text-warning";
            case "Info":
                return "text-info";
            default:
                return "";
        }
    }
}
