@model List<Hv.Sos100.DataService.Statistics.AdminGui.Models.EventStatistics>;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int? totalSignupsSum = 0;
    int totalKulturNoje = 0;
    int totalAtaDricka = 0;
    int totalSportFriluft = 0;

    foreach (var activity in Model)
    {
        totalSignupsSum += activity.TotalSignups;
        if(activity.Category == "KULTUR & NÖJE")
        {
            totalKulturNoje++;
        }
        else if(activity.Category == "ÄTA & DRICKA")
        {
            totalAtaDricka++;
        }
        else if(activity.Category == "SPORT & FRILUFT")
        {
            totalSportFriluft++;
        }
    }
}
<div class="secondNav">
    <div class="secondNavText">
        <a class="secondNavLink" asp-action="Index" asp-controller="ActivityStatistics">Aktiviteter</a>
        <a class="secondNavLink" asp-action="Index" asp-controller="EventStatistics">Evenemang</a>
        <a class="secondNavLink" asp-action="Index" asp-controller="AdStatistics">Annonser</a>
    </div>
</div>
<div class="titelContainer">
    <header>
        <h1 class="titel">EVENEMANG</h1>
    </header>
</div>
<div class="totalContainer">
    <div class="totalBox">
        <p class="totalTitel">Totalt antal anmälningar</p>
        <h2>@totalSignupsSum</h2>
    </div>
@*     Totalt antal av varje kategori
 *@    <div>
        <canvas id="myPieChart"></canvas>
    </div>
    <script>
        var ctx = document.getElementById('myPieChart').getContext('2d');
        var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['Kultur & Nöje', 'Äta & Dricka', 'Sport & Friluft'],
                datasets: [{
                    label: 'Antal',
                    data: [@totalKulturNoje, @totalAtaDricka, @totalSportFriluft],
                    backgroundColor: [
                        "#FF6C95",
                        "#FFF167",
                        "#FB8E5F"
                    ],
                    hoverOffset: 4
                }]
            }
        });
    </script>
</div>
<div class="tableContainer">
    <table>
        <thead>
            <tr>
                <th class="tableStyle">ID</th>
                <th class="tableStyle">Antal anmälningar</th>
                <th class="tableStyle">Anmälningar kvinnor</th>
                <th class="tableStyle">Anmälningar män</th>
                <th class="tableStyle">Anmälningar under 16 år</th>
                <th class="tableStyle">Anmälningar 16-30 år</th>
                <th class="tableStyle">Anmälningar 31-50 år</th>
                <th class="tableStyle">Anmälningar över 50 år</th>
                <th class="tableStyle">Kategori</th>
            </tr>
        </thead>
        @foreach (var activity in Model)
        {
            <tr>
                <td class="tableStyle">@activity.EventStatisticsID</td>
                <td class="tableStyle">@activity.TotalSignups</td>
                <td class="tableStyle">@activity.FemaleSignups</td>
                <td class="tableStyle">@activity.MaleSignups</td>
                <td class="tableStyle">@activity.AgeBelow16Signups</td>
                <td class="tableStyle">@activity.Age16To30Signups</td>
                <td class="tableStyle">@activity.Age31To50Signups</td>
                <td class="tableStyle">@activity.AgeAbove50Signups</td>
                <td class="tableStyle">@activity.Category</td>
            </tr>
            
                totalSignupsSum += activity.TotalSignups;
        }
    </table>
</div>