<!DOCTYPE html>
<html>
<head>
    <title>Event</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-logo">
            <a href="#">Logo</a>
        </div>
        <ul class="navbar-nav">
            <li class="nav-item"><a href="#">Home</a></li>
            <li class="nav-item"><a href="#">About</a></li>
            <li class="nav-item"><a href="#">Services</a></li>
            <li class="nav-item"><a href="#">Contact</a></li>
        </ul>
    </nav>
    <h1>Eventstatistik</h1>
    <hr>

    <div class="ChooseEvent">
        <label for="events">Välj event:</label>
        <select id="events" onchange="updateStatistics()">
            <option value="event1">Event 1</option>
            <option value="event2">Event 2</option>
            <option value="event3">Event 3</option>
        </select>
    </div>
    <div class="Views">
        <h2>Visningar och totala anmälningar</h2>
        <canvas id="ViewsChart"></canvas>
    </div>
    <div class="StarRating">
        <h2>Stjärnbetyg</h2>
        <canvas id="starRatingsChart"></canvas>
    </div>
    <div class="Gender">
        <h2>Kön</h2>
        <canvas id="genderChart"></canvas>
    </div>
    <div class="Age">
        <h2>Ålder</h2>
        <canvas id="ageChart"></canvas>
    </div>

    <script>
        var femaleSignups = @Html.Raw(ViewBag.femaleSignups);
        var maleSignups = @Html.Raw(ViewBag.maleSignups);
        var Signups16_30 = @Html.Raw(ViewBag.Signups16_30);
        var Signups31_50 = @Html.Raw(ViewBag.Signups31_50);
        var Signups50plus = @Html.Raw(ViewBag.Signups50plus);
        var views = @Html.Raw(ViewBag.Views);
        var totalSignups = @Html.Raw(ViewBag.TotalSignups);

        var ctxGender = document.getElementById('genderChart').getContext('2d');
        var genderChart = new Chart(ctxGender, {
            type: 'pie',
            data: {
                labels: ['Kvinnor', 'Män'],
                datasets: [{
                    data: [femaleSignups, maleSignups],
                    backgroundColor: ['#000000', '#999999']
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false
            }
        });

        var ctxAge = document.getElementById('ageChart').getContext('2d');
        var ageChart = new Chart(ctxAge, {
            type: 'pie',
            data: {
                labels: ['16-30', '31-50', '50+'],
                datasets: [{
                    data: [Signups16_30, Signups31_50, Signups50plus],
                    backgroundColor: ['#666666', '#000000', '#999999']
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false
            }
        });

        var ctxViews = document.getElementById('ViewsChart').getContext('2d');
        var viewsChart = new Chart(ctxViews, {
            type: 'bar',
            data: {
                labels: [''],
                datasets: [{
                    label: 'Visningar',
                    data: [views],
                    backgroundColor: '#000000',
                    borderColor: '#FFFFFF',
                    borderWidth: 1
                }, {
                    label: 'Anmälningar',
                    data: [totalSignups],
                    backgroundColor: '#999999',
                    borderColor: '#FFFFFF',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        var oneRating = @Html.Raw(Json.Serialize(ViewBag.oneRating));
        var twoRating = @Html.Raw(Json.Serialize(ViewBag.twoRating));
        var threeRating = @Html.Raw(Json.Serialize(ViewBag.threeRating));
        var fourRating = @Html.Raw(Json.Serialize(ViewBag.fourRating));
        var fiveRating = @Html.Raw(Json.Serialize(ViewBag.fiveRating));

        var ctx = document.getElementById('starRatingsChart').getContext('2d');
        var starRatingsChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['1 Rating', '2 Rating', '3 Rating', '4 Rating', '5 Rating'],
                datasets: [{
                    label: 'Antal röster',
                    data: [oneRating, twoRating, threeRating, fourRating, fiveRating],
                    backgroundColor: ['#999999', '#000000', '#666666', '#F3F3F3', '#CCCCCC'],
                    borderColor: ['#000000', '#000000', '#000000', '#000000', '#000000'],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            stepSize: 1
                        }
                    }]
                }
            }
        });

    </script>
</body>
</html>
