@using Hv.Sos100.DataService.Statistics.EnterpriseGui.Models;
@model EventStatisticsViewModel;

<!DOCTYPE html>
<html>
<head>
    <title>Eventivo EventStatistik</title>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <nav class="categorymenu">
        <ul class="navbar-nav1">
            <li class="nav-item1"><a href="@Url.Action("Index", "Activity")">AKTIVITETER</a></li>
            <li class="gradienttext"><a href="@Url.Action("Index", "Event")">EVENEMANG</a></li>
            <li class="nav-item1"><a href="@Url.Action("Index", "Ad")">ANNONSER</a></li>
        </ul>
    </nav>

    <div class="statistics-container">

        <h1>EVENEMANGSSTATISTIK</h1>

        <div class="statistics-itemselector-container">
            <div class="statistics-itemselector-select">
                <label for="events">VÄLJ EVENEMANG:</label>
                <select id="events" onchange="updateStatistics()">
                    <option selected disabled>Select</option>
                    @foreach (var eventData in Model.EventList!)
                    {
                        <option value="@eventData.EventStatisticsID">@eventData.EventStatisticsID - @(string.IsNullOrEmpty(eventData.Name) ? "Unknown" : eventData.Name)</option>
                    }
                </select>
            </div>
            <div class="statistics-itemselector-name" id="statistics-itemselector-name">Evenemangsnamn</div>
        </div>

        <div class="statistics-data-general-container hidden">
            <div class="statistics-data-general-category">
                <div class="">Kategori:</div>
                <div class="" id="category"></div>
            </div>
            <div class="statistics-data-general-count">
                <div class="">Antal Anmälda:</div>
                <div class="" id="totalSignups"></div>
            </div>
        </div>

        <div class="statistics-charts-container hidden">
            <div class="chart-container-gender">
                <div class="chart-info">
                    <h2>KÖN</h2>
                    <p>Statistik för hur många av vardera kön som anmält sig.</p>
                </div>
                <canvas id="GenderChart"></canvas>
            </div>

            <div class="chart-container-age">
                <div class="chart-info">
                    <h2>ÅLDER</h2>
                    <p>Statistik för hur många i varje åldersgrupp som anmält sig.</p>
                </div>
                <canvas id="AgeChart"></canvas>
            </div>
        </div>

    </div>

    <script>
        var ctxGender = document.getElementById('GenderChart').getContext('2d');
        var genderChart = new Chart(ctxGender, {
            type: 'pie',
            data: {
                labels: ['Kvinnor', 'Män'],
                datasets: [{
                    data: [0, 1],
                    backgroundColor: ['#666666', '#000000']
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false
            }
        });

        var ctxAge = document.getElementById('AgeChart').getContext('2d');
        var ageChart = new Chart(ctxAge, {
            type: 'pie',
            data: {
                labels: ['Under 16', '16-30', '31-50', 'Över 50'],
                datasets: [{
                    data: [0, 1, 2, 3],
                    backgroundColor: ['#666666', '#000000', '#999999', '#CCCCCC']
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false
            }
        });

        function updateStatistics() {
            var selectedEventStatisticsId = parseInt(document.getElementById('events').value);
            var allEvents = JSON.parse('@Html.Raw(Json.Serialize(Model.EventList))');
            var selectedEvent = allEvents.find(e => e.eventStatisticsID === selectedEventStatisticsId);
            

            var statisticsItemName = document.getElementById('statistics-itemselector-name');
            if (statisticsItemName) {
                if (selectedEvent.name === null) {
                    statisticsItemName.innerText = "Unknown";
                }
                else {
                    statisticsItemName.innerText = selectedEvent.name;
                }
            }

            var totalSignupsElement = document.getElementById('totalSignups');
            if (totalSignupsElement) {
                totalSignupsElement.innerText = selectedEvent.totalSignups;
            }

            var allCategories = JSON.parse('@Html.Raw(Json.Serialize(Model.CategoryList))');
            
     
            var selectedCategory = allCategories.find(c => c.categoryID === selectedEvent.categoryID);

            
            var categoryElement = document.getElementById('category');
            if (categoryElement) {
                categoryElement.innerText = selectedCategory ? selectedCategory.name : 'Unknown';
            }

            ageChart.data.datasets[0].data = [
                selectedEvent.ageBelow16Signups,
                selectedEvent.age16To30Signups,
                selectedEvent.age31To50Signups,
                selectedEvent.ageAbove50Signups
            ];
            genderChart.data.datasets[0].data = [
                selectedEvent.femaleSignups,
                selectedEvent.maleSignups
            ];

            genderChart.update();
            ageChart.update();

            var generalContainer = document.querySelector('.statistics-data-general-container');
            var chartsContainer = document.querySelector('.statistics-charts-container');
            generalContainer.classList.remove('hidden');
            chartsContainer.classList.remove('hidden');
        }
    </script>

</body>
</html>
