@using Hv.Sos100.DataService.Advertisement.Api.Model
@model Ads
@{
    ViewData["Title"] = "Delete";
}

<h3 class="deleteTitel">Är du säker på att du vill ta bort den här annonsen?</h3>
<div>
    <hr />
    <div class="deleteContainer">
        <dl>
            <dt class = "col-sm-12">
                @Html.Raw("Id: ")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AdvertisementID)
            </dd>

            <dt class = "col-sm-12">
                @Html.Raw("Bild : ") 
            </dt>
            <dd>
                <img height="200" width="250" src="@Model.ImageSource" />
            </dd>

            <dt class = "col-sm-12">
                @Html.Raw("Visningar: ")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TotalViews)
            </dd>
       
            <dt class="col-sm-12">
                @Html.Raw("Format: ")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ImageDimension)
            </dd>
        </dl>


        <form asp-action="Delete">
            <input type="hidden" asp-for="AdvertisementID" />
            <input type="submit" value="Ta bort" class="btnDelete" /> |
            <a class="btnCreate" asp-action="Index">Tillbaka</a>
        </form>
    </div>
</div>
